<div class="card" style="width: 700px; margin:0px auto;" >
  <div class="card-body">
    <h5 class="card-title"><%= contact.name %></h5>
    <p class="lead">Email: <%= contact.email %></p>
    <p class="lead">Phone: <%= contact.phone %></p>
    <hr class="my-4">
    <p class="lead"><%= contact.description %></p>
  </div>
</div>