  <div class="col-lg-3 col-md-6 mb-3" style="padding-top: 10px; padding-left: 50px;">
    <div class="card h-100">
      <div class="card-body">
<h4 class="card-title">

<%= image_tag("#{product.image}", style: "height:400px; width: 400px")%>
  <% if name_is_link %>
    <p><%= link_to product.name, product_index_path()%> </p>
  <% else %>
    <p><%= product.name %></p>
  <% end %>
</h4>
<h5><%= product.price %></h5>
  <p class="card-text"></p>
        </div>
    </div>
  </div>