<div class="card text-center">
  <div class="card-header">
    <div class="card-body">
      <h5 class="card-title padding-top">About Us</h5>
      <p class="card-text"><%=@about.description%></p>
      <a href="/products/" class="btn btn-primary">Check out some products</a>
    </div>
  </div>
</div>
