<div class="row" >
    <div style="margin:0px auto; padding-top: 50px; padding-bottom: 50px;">
         <%= render partial: 'products',
                object: @product,
                locals: {name_is_link: false}    %>
    </div>


</div>